---
import Layout from '../layouts/Layout.astro';
import GridCodeGenius from '../components/GridCodeGenius';
---

<Layout title="GridCodeGenius - Interactive Grid Creator">
  <main>
    <GridCodeGenius client:load />
  </main>
</Layout>